.myreview--component--container {

    .myreview--wrap {
        border-bottom: 1px solid var(--lightGrayColor);
        margin: 30px 15px;
        padding-bottom: 10px;

        .myreview--info {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .info--title {
                font-size: 17px;
                font-weight: bold;
            }

            .info--date {
                color: var(--lightGrayColor2);
                font-size: 14px;
            }
        }

        .myreview--rating {
            .icon--fill {
                color: gold;
            }

            .icon--empty {
                color: gray;
            }
        }

        .myreview--content {
            margin-top: 25px;
            margin-bottom: 0;
            padding-left: 3px;
            font-size: 13px;
            white-space: pre-line;
        }

    }
}

.myreview--modal--container {

    .carousel-control-prev,
    .carousel-control-next {
        background-color: rgba(76, 76, 76, 0.7);
        ;
        /* 버튼 배경색 */
        text-align: center;
        width: 60px;
        height: 100px;
        align-self: center;

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 50px;
            height: 50px;
        }
    }

    .carousel-control-prev {
        margin-left: 10px;
    }

    .carousel-control-next {
        margin-right: 10px;
    }

    .modal-content {
        width: 768px;
        margin: auto;

        .modal-header {
            border-bottom: none;
        }

        .main--image {
            height: 600px;
            width: 100%;
        }

        .image--counter {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 5px;
            border-radius: 10px;
            font-size: 13px;
        }

        .thumbnail-container {
            margin-top: 50px;
            margin-left: 10px;
        }

        .thumbnail-container::-webkit-scrollbar {
            height: 8px;
        }

        .thumbnail-container::-webkit-scrollbar-thumb {
            background-color: hsla(0, 0%, 42%, 0.49);
        }


    }

    @media screen and (max-width: 768px) {
        .modal-content {
            width: 100%;
        }
    }
}