

    .reviews--modal--container{
  
        .modal-content {
            width: 768px;
            margin: auto;
    
            .modal-header {
                border-bottom: none;
            }
    
            .main--image {
                height: 600px;
                width: 100%;
            }
    
            .image--counter {
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: white;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 5px;
                border-radius: 10px;
                font-size: 13px;
            }
    
            .thumbnail-container {
                margin-top: 50px;
                margin-left: 10px;
            }

            .thumbnail-container:hover {
                .move--btn{
                    display: block;
                }
            }
    
            .thumbnail-container::-webkit-scrollbar {
                height: 8px;
            }
    
            .thumbnail-container::-webkit-scrollbar-thumb {
                background-color: hsla(0, 0%, 42%, 0.49);
            }
    
    
        }
    
        @media screen and (max-width: 768px) {
            .modal-content{
                width: 100%;
    
            }
        }
    }
