.room--order--modal{

    .modal-header {
        font-weight: bold
        
    }

    .modal-content{
        width: 640px;
        height: 200px !important;
        margin: auto;
    }

    .orderDiv{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        gap: 30px;
        padding: 30px;
    }

    .Orders{
        width: 270px;
        text-align: center;
    }
    .OrdersContent{
        cursor: pointer;
    }

    
}