.room--filter--modal{

    
    .modal-header {
        font-weight: bold
        
    }     

    .modal-body{
        padding: 0;
        margin: 0;
    }
    
    .modal-content{
        width: 657px;
        height: 500px !important;
        margin: auto;
    }

    .roomDiv{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        gap: 30px;
        padding: 30px;
    }

    .allRoom, .Rooms{
        width: 270px;
        
    }
    .allRoomContent, .RoomsContent{
        cursor: pointer;
    }
}