.profile--container {
    .profile--wrap {
        background-color: var(--lightGrayColor4);
        height: 100vh;
        position: relative;

        .profile--box {
            position: absolute;
            margin-top: 50px;
            width: 100%;
            background-color: #fff;
            padding: 20px 15px;
            font-size: 17px;

            .profile--title {
                font-size: 25px;
                padding-bottom: 10px;
                border-bottom: 1px solid var(--lightGrayColor);
            }

            .profile {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .profile--child {
                    display: flex;
                    gap: 30px;

                    .profile--child--title {
                        flex: 1;
                    }

                    span {
                        flex: 8;
                    }

                    .profile--edit {
                        display: flex;
                        flex: 8;
                        padding-right: 10px;
                        justify-content: space-between;
                        align-items: center;
                        gap: 12px;

                        input {
                            flex: 1;
                            border: none;
                            outline: none;
                        }

                        input:not([readonly]) {
                            border-bottom: 1px solid black;
                        }

                        input:not([readonly]).warning {
                            border-bottom: 1px solid var(--redColor);
                        }

                        .icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }



            .nickname--edit--btn,
            .phone--edit--btn {
                border: 2px solid var(--logoColor);
                font-weight: bold;
                width: 50px;
                border-radius: 10px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 107px;
                font-size: 15px;
            }
        }

        .profile--delete {
            position: absolute;
            margin-top: 80px;
            width: 100%;
            background-color: #fff;
            padding: 15px 15px;
            font-size: 20px;
            cursor: pointer;

            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 25px;

            p {
                margin-bottom: 0;
            }

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .hide {
        display: none;
    }

    .focus {
        cursor: pointer;
    }



    .wraning--message {
        margin-left: 108px;
        font-size: 12px;
        color: var(--redColor);
    }

    .name--warning {
        margin-left: 108px;
        font-size: 12px;
        color: var(--redColor);
    }

    .input--box {
        margin-left: 107px;

    }

    .send--num--btn {
        border: none;
        color: #fff;
        background-color: var(--logoColor);
        padding: 5px 9px;
        border-radius: 5px;
        margin-left: 10px;
    }

    .send--num--btn.disabled {
        background-color: var(--lightGrayColor3);
    }
}