.booking--history--container {
    position: relative;
    margin-bottom: 100px;

    .booking--history--wrap {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .dropdown--box {
            align-self: self-end;
            display: none;

            .dropdown>button {
                background-color: #fff;
                border-color: var(--lightGrayColor);
                color: black;
                width: 110px;
            }

            .dropdown--menu {
                min-width: 110px;
            }
        }

        .dropdown--box.show {
            display: block;
        }

        .notify {
            border: 1px solid var(--lightGrayColor);
            border-radius: 10px;
            height: 50px;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .tab--wrap {
            position: relative;

            .nav-tabs {
                font-size: 20px;

                .nav-link {
                    border: none;
                    border-bottom: 2px solid transparent;
                    opacity: 0.7;
                    transition: border-color 0.3s ease;
                    color: var(--lightGrayColor2);
                }

                .nav-link.active {
                    border-bottom: 2px solid black;
                    opacity: 1;
                    color: black;
                    font-weight: bold;
                }
            }

            .border-slide {
                position: absolute;
                height: 2px;
                background-color: black;
                transition: left 0.3s ease, width 0.3s ease;
            }
        }

        .bookingList {
            display: flex;
            flex-direction: column;
            gap: 60px;
        }

        .booking--none {
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            align-items: center;
            margin-top: 100px;

            .booking--none--text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span:nth-child(1) {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .home--btn {
                border: 2px solid var(--logoColor);
                color: var(--logoColor);
                width: 160px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}