.comp--header--admin--container {
    /*HeaderAdmin(관리자용) 컴포넌트*/

    #container_navbar {
        max-width: 100%;
    }

    #brand_navbar_admin {
        color: #fb6969;
    }

    #btn_container {    /*로그아웃 버튼 컨테이너*/
        align-self: center;
    }






}


.comp--header--general--container {
    /*HeaderGeneral(일반 사용자용) 컴포넌트*/

    p {
        color: blue;
    }
}