.hotel--map--container{


    .TopBox{
        position: relative;
        width: 100%;
        height: 140px;
        background-color: rgb(5, 122, 255);
        
        
    }

    .FormBox{
        position: absolute;
        left: 5%;
        top: 10%;
        width: 90%;
    }

    input::placeholder {
        color: white;
        
    }

    #start{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: none;
        outline: none;
        margin-bottom: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        background-color: rgb(129, 173, 255);
    }

    #end{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 10px;
        color: white;
        background-color: rgb(129, 173, 255);
    }


    #KakaoMap{
        width: 100%;
        height: 810px;
    }
}