.HotelList{
    width: 768px;
    height: 1500px;
    background-color: rgb(240, 240, 240);
    padding-top: 10px;
   
}

.HotelGrid{
    width: 700px;
    height: 80%;
    background-color: white;
    margin : auto;
   
}

.HotelRow{
    padding-top: 100px;
    width: 100%;
    height: 250px;
}

.HotelCol{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.HotelImg{
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.HotelInfo{

}

.HotelRank{
    font-size: 15px;
}

.HotelName{
    font-size: 20px;
}

.HotelLo{
    font-size: 10px;
}

.StarDiv{
    display: flex;
}

.Star{
    display: flex;
    width: 50px;
    height: 30px;
    background-color: rgb(255, 195, 66);
    border-radius: 10px;
    margin-right: 10px;
    align-items: center;
    
}

.StarIcon{
    font-size: 10px;
    margin-left: 9px;
    margin-right: 3px;
}

.StarNum{
    font-size: 14px;
}


.HotelPrice{
 
}
