.room--list {
     padding: 0 !important;

     .HotelInfo {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     .HotelRank {
          font-size: 16px;
          color: rgb(124, 124, 124);

     }

     .HotelName {
          font-size: 25px;
          font-weight: bold;
     }

     .HeartIcon {
          font-size: 25px;
          margin: 0 10px;
          cursor: pointer;
     }


     #kakao_share {
          width: 25px;
          height: 25px;
          cursor: pointer;
     }


     .FullHeartIcon {
          color: red;
          font-size: 25px;
          margin-right: 10px;
          cursor: pointer;
     }

     .RowLine {
          border: 1px solid rgb(219, 219, 219);
          opacity: 50%;
          margin-top: 10px;
          margin-bottom: 20px;
     }

     .ReTitle {
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 8px;
          margin-top: 20px;
     }


     .HotelLocation {
          margin-top: 50px;
     }

     .LoTitle {
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 8px;
     }

     .LoContent {
          color: gray;
     }

     #FindBtn {
          padding: 1px;
          margin-left: 10px;
          font-size: 15px;
          width: 70px;
          height: 25px;
          background-color: white;
          color: gray;
          border-color: gray;
          margin-bottom: 5px;
     }

     #FindBtn:hover {
          color: rgb(43, 110, 255);
          border-color: rgb(43, 110, 255);
     }



     .RLtitle {
          margin-top: 60px;
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 10px;
     }


     .showAll{
          padding: 7px;
          text-align: center;
          border: 1px solid rgb(226, 226, 226);
          border-radius: 10px;
          cursor: pointer;
          font-size: 14px;
          margin-bottom: 20px;
     }

     





     .IntroTitle{
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 10px;
     }

     




     .ServiceTitle{
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 15px;
     }

     
}