.room--detail--container {
    padding: 0 !important;
    position: relative;

    .NameBox {
        margin-top: 30px;
    }

    #kakao_share {
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        cursor: pointer;
   }

    .RoomName {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 13px;
    }

    .HotelName {
        font-size: 15px;
        text-decoration: none;
        color: black;
    }


    .RowLine {
        border: 1px solid rgb(219, 219, 219);
        opacity: 50%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .InfoBox {
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 50px;
    }

    .InfoTitle {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .InfoContent {
        color: rgb(121, 121, 121);
        font-size: 14px;
    }


    .SerTitle {
        margin-top: 30px;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .SerDiv {
        display: flex;
        flex-wrap: wrap;
    }

    .SerContent {
        flex: 0 0 25%;
        color: rgb(121, 121, 121);
        margin-bottom: 20px;
        font-size: 14px;
    }



    .CanTitle {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .CancelContent {
        color: red;
        font-size: 14px;
    }


    .ReTitle {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 8px;
    }





    .LoTitle {
        margin-top: 50px;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 8px;
    }

    .LoContent {
        color: gray;
    }

    #FindBtn {
        padding: 1px;
        margin-left: 10px;
        font-size: 15px;
        width: 70px;
        height: 25px;
        background-color: white;
        color: gray;
        border-color: gray;
        margin-bottom: 5px;
    }

    #FindBtn:hover {
        color: rgb(43, 110, 255);
        border-color: rgb(43, 110, 255);
    }




}





/* .abc{
        margin-top: 50px;
    }


    .RealPrice {
        color: rgb(156, 156, 156);
        font-weight: bold;
        font-size: 15px;
        text-decoration: line-through;
        text-align: right;
   }


   .RoomDiscount {
        display: flex;
        align-items: center;
        justify-content: right;
   }

   .Discount {
        font-size: 15px;
        font-weight: bold;
        color: rgb(255, 27, 38);
   }

   .DiscountPrice {
        font-size: 18px;
        font-weight: bold;
        margin-left: 3px;
   } */