.page--event--detail--container {
    /* 이벤트 상세페이지 */

    h1 {

        color: red;
    }

}

.page--event--list--container {
    /* 이벤트 리스트페이지 */

    #container_event_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 12px;
        margin-bottom: 60px;
        padding: 12px;
        gap: 12px;
    }

}