.page--event--detail--container {
    /* 이벤트 상세페이지 */

    #container_event_detail {
        margin-top: 12px;
        padding: 12px;

        border-color: #e7e7e7;
        border-style: solid;
        border-width: 1px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }



}

.page--event--list--container {
    /* 이벤트 리스트페이지 */

    #container_swtich {
        margin-top: 12px;
        display: flex;
        justify-content: end;
    }



    #container_event_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 60px;
        padding: 12px;
        gap: 12px;

        .link_to_event_detail {
            text-decoration: none;
        }
    }

}