.wishlist--component--container {
    padding: 10px 10px;


    a {
        text-decoration: none;
        color: black;


        .wishlist--wrap {
            display: flex;
            gap: 20px;
            padding-bottom: 20px;

            .wishlist--img {
                position: relative;

                img {
                    width: 160px;
                    height: 170px;
                    border-radius: 10px;
                }

                .wishlist--icon {
                    position: absolute;
                    z-index: 2;
                    top: 5px;
                    right: 5px;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                }

            }


            .wishlist--box {
                flex: 1 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .hotel--info {
                    display: flex;
                    flex-direction: column;

                    .review--wrap {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .review--box {
                            display: flex;
                            align-items: center;
                            padding-left: 8px;
                            width: 43px;
                            height: 22px;
                            border-radius: 7px;
                            background-color: var(--starColor);
                            margin-right: 4px;

                            .review--avg {
                                padding-top: 2px;
                            }

                            .star--Icon {
                                width: 12px;
                                height: 12px;
                                margin-right: 5px
                            }
                        }

                        .totalReviewCount {
                            color: var(--lightGrayColor2);
                        }

                    }
                }

                .hotel--info>div:nth-child(1) {
                    font-size: 15px;
                    color: var(--lightGrayColor2)
                }

                .hotel--info>div:nth-child(2) {
                    font-weight: bold;
                    font-size: 18px;
                }

                .hotel--info>div:nth-child(3) {
                    font-size: 15px;
                }

                .hotel--price--wrap {
                    display: flex;
                    justify-content: end;
                    gap: 5px;
                    margin-top: 20px;
                    align-items: end;
                    font-size: 20px;

                    .hotel--discount--price--wrap {
                        display: flex;
                        flex-direction: column;


                        .discount {
                            color: var(--saleIconColor);
                            font-weight: bold;
                            font-size: 16px;
                        }

                        .roomDcPrice {
                            color: var(--lightGrayColor2);
                            font-size: 18px;
                        }
                    }


                    .hotel--discount--price--wrap>span:nth-child(1) {
                        font-size: 14px;
                    }

                    .hotel--discount--price--wrap>span:nth-child(2) {
                        text-decoration: line-through;

                    }


                }

            }
        }

        .wishlist--wrap:last-child {
            border-bottom: 1px solid var(--lightGrayColor2);
        }

    }
}