.booking--history--component-container {
    .booking--info--wrap {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--lightGrayColor);
        border-radius: 10px;
        padding-bottom: 20px;


        .booking--info--paydate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 15px;
            border-bottom: 1px solid var(--lightGrayColor);

            a {
                text-decoration: none;
                color: var(--regularBlueColor);
                font-weight: bold;

                .booking--payment {
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                    align-items: center;
                }

                .cancle {
                    color: red;
                }
            }
        }

        .booking--info--hotel {
            display: flex;
            gap: 20px;
            padding: 20px 15px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 10px;
            }

            .booking--info--content {
                padding-top: 5px;
                display: flex;
                flex-direction: column;
                gap: 3px;

                .booking--hotel--name {
                    font-weight: bold;

                }

                .booking--hotel--checkday {
                    color: var(--lightGrayColor);
                    font-size: 14px;
                }

                .booking--hotel--checktime {
                    color: var(--lightGrayColor);
                    font-size: 14px;
                }
            }



        }

        .booking--btn--wrap {
            padding-right: 15px;
            display: flex;
            justify-content: right;

            a,
            span {
                text-decoration: none;
                color: black;



                .booking--btn {
                    width: 200px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--lightGrayColor);
                    border-radius: 10px;
                }
            }


        }

    }



}