.review--modal--container {
    position: fixed;
    top: 0;
    height: 100%;
    animation: slideIn 0.3s ease-in-out;
    background-color: #fff;
    z-index: 1;
    overflow-y: auto;

    .cancle--modal {
        display: flex;
        align-items: center;
        padding: 15px 15px;
        justify-content: space-between;
        min-width: 768px;
        font-size: 23px;
        font-weight: bold;
        border-bottom: 1px solid black;

        button {
            background-color: #fff;
            border: none;

            .icon {
                width: 30px;
                height: 30px;
            }
        }

    }

    .booking--info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--lightGrayColor);

        .info--box {
            display: flex;
            font-size: 18px;

            span:nth-child(1) {
                color: var(--lightGrayColor);
                flex: 1
            }

            span:nth-child(2) {
                flex: 8;
            }
        }
    }

    .review--content--wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px 15px;
        margin-top: 20px;

        .review--rating--wrap {

            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;

            span {
                font-size: 22px;
                font-weight: bold;
            }

            .rating--btn {

                display: flex;
                gap: 10px;

                .star--btn {

                    border: none;
                    background-color: #fff;


                    .icon {
                        width: 50px;
                        height: 50px;
                    }

                    .filled {
                        color: gold;
                        /* 선택된 별 색상 */
                    }

                    .empty {
                        color: gray;
                        /* 기본 색상 */
                    }
                }


            }


        }

        .review--write--wrap {

            margin-top: 20px;

            .review--write {
                width: 100%;
                height: 200px;
                resize: none;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid var(--lightGrayColor);
                outline: none;
            }
        }

        .image--add--wrap {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 80px;


            .preview--image--box {
                display: flex;
                gap: 10px;
                height: 100px;
            }

            .file--selector--btn {
                width: 80%;
                margin: auto;
                background-color: var(--regularBlueColor);
                height: 50px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 18px;
                cursor: pointer;



                .hidden {
                    display: none;
                }
            }
        }


    }

    .review--write--btn {
        width: 100%;
        height: 60px;
        background-color: var(--logoColor);
        color: #fff;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        cursor: pointer;
        width: 768px;
        margin: auto;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        /* 아래에서 시작 */
    }

    to {
        transform: translateY(0);
        /* 제자리로 */
    }
}