.home--container {

    padding-left: 10px;
    padding-right: 10px;

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
        color: var(--logoColor);
    }

    .search--btn--wrap {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .search--btn {
            width: 80%;
            height: 45px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            gap: 10px;
            border: 1px solid #fb6969;
            background-color: #fff;
        }
    }

    h2 {
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 20px;
        padding-left: 7px;
        font-size: 22px;
    }

    .popular--hotel {
        color: var(--regularBlueColor);
    }

    .sale--hotel {
        color: var(--redColor);
    }

    .navbar {
        position: relative;
    }

}