.platform--site--sale--box {
    position: absolute;
    left: 50%;
    top: -27%;
    transform: translateX(-50%);
    background-color: var(--saleIconColor);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 11px;
    color: #fff;

    .platform--site-sale--icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -53%; /* 상단에 위치 */
        left: 50%;
        margin-left: -5px; /* 가운데 정렬 */
        border-width: 5px;
        border-style: solid;
        border-color: var(--saleIconColor) transparent transparent transparent; /* 뾰족한 부분 색상 */
    }
}

.icon {
    width: auto;
    height: 25px;
}
