.hotel--review--container{

    .StarDiv {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
   }

   .Star {
        display: flex;
        width: 60px;
        height: 30px;
        background-color: rgb(255, 224, 46);
        border-radius: 20px;
        margin-right: 7px;
        align-items: center;
   }

   .StarIcon {
        font-size: 15px;
        margin-left: 8px;
        margin-right: 3px;

   }

   .StarNum {
        font-size: 17px;
        font-weight: bold;
   }

   .StarCount {
        font-size: 16px;
        font-weight: bold;
        margin-top: 2px;
        margin-right: 5px;
   }


   .ReviewWrap {
        display: flex;
        justify-content: space-between;
   }

   .ContentBox {
        width: 243px;
        height: 100px;
        overflow: hidden;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 10px;
        padding: 10px;
        font-size: 14px;
   }

   .ReviewIcon {
        color: rgb(255, 224, 46);
        margin-bottom: 2px;
        margin-right: 2px;
   }

   .ReviewSD {
        display: flex;
        justify-content: space-between;
   }

   .ReviewDate,
   .ReviewContent {
        color: rgb(71, 71, 71);
   }
}