.comp--event--unit--container {
    /* EventUnit 컴포넌트 */

    min-width: 366px;
    min-height: 183px;

    border-color: black;
    border-style: dashed;
    border-width: 1px;


    p {
        color: green;

    }
}

.comp--event--manager--modal {
    /* EventManager 공통 */

    #container_period_picker {

        .calendar {
            max-width: 466px;
            width: 90%;

            text-align: center;


            th:first-child,
            td:first-child {
                /* 첫째 th와 td : 일요일 */
                color: red;
            }

            th:last-child,
            td:last-child {
                /* 막내 th와 td : 토요일 */
                color: blue;
            }


            .p-datepicker-title {
                display: flex;
                gap: 12px;
            }

        }

    }
}

.comp--event--inserter--container {

    /* EventInserter 컴포넌트(EventManager) */
    #title_modal {
        color: green;
    }

    .form-label {
        color: green;
    }

}

.comp--event--updater--container {

    /* EventUpdater 컴포넌트(EventManager) */
    #title_modal {
        color: orange;
    }

    .form-label {
        color: orange;
    }

}