.comp--event--unit--container {
    /* EventUnit 컴포넌트 */

    p {
        color: green;

    }
}

.comp--event--manager--modal {
    /* EventManager 공통 */

}

.comp--event--inserter--container {
    /* EventInserter 컴포넌트(EventManager) */
    #title_modal {
        color: green;
    }

    .form-label {
        color: green;
    }
   

}
.comp--event--updater--container {
    /* EventUpdater 컴포넌트(EventManager) */
    #title_modal {
        color: orange;
    }

    .form-label {
        color: orange;
    }

}