.comp--admin--btn--container {
    /* AdminBtn 컴포넌트 */
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0 12px;
}

.comp--admin--btn--container:hover:not(.btn_disabled) {
    /* AdminBtn 컴포넌트:hover (.btn_disabled에는 반응하지 않음) */

    color: red;
}




.comp--admin--search--container {
    /* AdminSearch 컴포넌트*/

    display: flex;


    #btn_search {
        width: 50px;
        padding: 0;
    }


}