* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

:root {
  --logoColor: #fb6969;
  --lightGrayColor: #a1a1a1;
  --lightGrayColor2: #828282;
  --lightGrayColor3: #6d6d6d;
  --footerBackgroundColor: #d2d2d2;
  --navbarBackgroundColor: hsla(0, 0%, 100%, .9);
  --regularBlueColor: #0386ff;
  --ligthBuleColor: #e6eefa;
  --redColor: #FF0303;



}


.App-Container {
  max-width: 768px;
  margin: auto;
}

ul {
  list-style: none;
}