.mypage--container {

    .mypage--wrap {
        .nickname {
            margin-top: 50px;
            font-size: 18px;
        }

        .mypage--info--wrap {
            margin-top: 20px;
            border: 1px solid var(--lightGrayColor);
            border-radius: 10px;


            .info--vertical {
                padding: 3px 3px;

                .info--btn {
                    padding: 15px 15px;
                    background-color: #fff;
                    border: none;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;

                    .icon {
                        width: 20px;
                        height: 20px;
                    }

                    .point {
                        margin-right: 5px;
                    }
                }
            }


            .info--horizontal--box {
                display: flex;
                border-top: 1px solid var(--lightGrayColor);


                .info--horizontal {
                    flex: 1 1;
                    padding: 2px 2px;

                    .info--horizontal--btn {
                        display: flex;
                        align-items: center;
                        margin: 2px;
                        gap: 10px;
                        padding: 15px 15px;
                        background-color: #fff;
                        border: none;
                        margin: 1px;

                        .icon {
                            width: 20px;
                            height: 25px;
                        }
                    }
                }

                .separation {
                    align-self: center;
                    background-color: var(--lightGrayColor);
                    width: 1px;
                    height: 25px;
                }
            }
        }

        .advertisement {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }

        .service--wrap {


            .my--info--btn,
            .logout--btn {
                font-size: 17px;
                padding: 15px 5px;
                background-color: #fff;
                border: none;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .icon {
                    width: 15px;
                    height: 20px;
                }
            }



        }
    }

    .link {
        text-decoration: none;
        color: black;
    }
}