.event--carousel--container {
    .slick-slide {
        padding-left: 5px;
        padding-right: 5px;

        img {
            border-radius: 8px;
            width: 100%;
            height: 120px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.04);
        }
    }


    .event--btn--wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .event--btn--box {
            width: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background-color: #fff;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                font-size: 17px;
            }
        }
    }
}