.location--hotel--carousle--container {

    position: relative;

    .location--name--list {
        display: flex;
        gap: 5px;
        padding-left: 4px;
        margin-bottom: 20px;

        li {
            button {
                background-color: #fff;
                width: 50px;
                height: 30px;
                border-radius: 20px;
                border: 1px solid var(--lightGrayColor2);
                font-size: 13px;
                color: var(--lightGrayColor3);
                margin-right: 5px;
            }

            button.active {
                color: var(--regularBlueColor);
                background-color: var(--ligthBuleColor);
                font-weight: bold;
            }
        }
    }

    .slick-slide {
        display: grid !important;
        gap: 8px;
        padding-left: 4px;

        .hotel--list--wrap {

            display: flex;


            a {
                color: black;
                text-decoration: none;

                img {
                    width: 110px;
                    height: 120px;
                    border-radius: 10px;
                }


                .hotel--list--info {
                    display: grid !important;
                    grid-auto-flow: row;
                    grid-template-columns: 2fr 10fr;
                    padding-right: 8px;
                    margin-bottom: 10px;



                    .hotel--info--wrap {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;


                        .hotel--info {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;


                            .hotel--rating {
                                font-size: 10px;
                            }

                            .hotel--name {
                                font-size: 14px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }


                            .review--wrap {
                                display: flex;
                                align-items: center;
                                gap: 5px;

                                .review--icon--box {
                                    display: flex;
                                    align-items: center;
                                    padding-left: 8px;
                                    width: 40px;
                                    height: 20px;
                                    border-radius: 7px;
                                    background-color: var(--starColor);
                                    margin-right: 4px;

                                    .star--Icon {
                                        width: 11px;
                                        height: 11px;
                                        margin-right: 5px;
                                    }

                                    .review--avg {
                                        padding-top: 2px;
                                    }

                                }

                                .hotel--review--count {
                                    color: var(--lightGrayColor);
                                    padding-top: 2px;
                                }
                            }
                        }

                        .hotel--info>div:nth-child(1) {
                            font-size: 11px;
                            color: var(--lightGrayColor2)
                        }

                        .hotel--info>div:nth-child(2) {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .hotel--info>div:nth-child(3) {
                            font-size: 12px;
                        }

                        .hotel--price--wrap {
                            display: flex;
                            justify-content: end;
                            gap: 5px;
                            margin-top: 20px;
                            align-items: end;
                            font-size: 15px;

                            .hotel--discount--price--wrap {
                                display: flex;
                                flex-direction: column;

                                span {
                                    color: var(--lightGrayColor2);
                                }

                                .hotel--room--discount {
                                    color: var(--saleIconColor);
                                    font-weight: bold;
                                    font-size: 12px;
                                }

                                .hotel--room--price {
                                    font-size: 13px;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .move--btn {
        position: absolute;
        top: 50%;

        button {
            background: #fff;
            border: 1px solid black;
            cursor: pointer;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

    }

    .left--move--btn {

        transform: translateX(-10px);

        .arrow {
            width: 15px;
            height: 15px;
            padding-right: 2px;
        }
    }

    .right--move--btn {
        transform: translateX(10px);
        right: 0;

        .arrow {
            width: 15px;
            height: 15px;
            padding-left: 2px;
        }
    }
}

.location--hotel--carousle--container:hover {
    .moveBtn {
        opacity: 1;
    }
}


@media screen and (min-width: 767px) {

    .location--hotel--carousle--container {
        .slick-slide {
            .hotel--list--wrap {

                display: flex !important;
                flex-wrap: wrap;
                justify-content: space-between;

                a {
                    width: 50%;

                    .hotel--list--info {
                        grid-template-columns: 1fr 2fr;
                    }
                }
            }
        }
    }
}