.page--admin {
    /* 관리자 페이지 공통 */
    width: 100%;
    position: absolute;
    left: 0;

    #section_container {
        max-width: 100%;
        padding-top: 12px;


        .table {
            text-align: center;
        }


    }


}


.page--admin--home--container {
    /* 관리자 홈 페이지 */


}


.page--event--manager--container {
    /* 관리자 이벤트페이지 */

    #btn_enroll {
        /* '이벤트 등록' 버튼 */
    }

    .form-switch {
        margin-right: 12px;
        display: flex;
        align-items: center;
        gap: 6px;
    }



    #table_entire_event {

        .event_no {
            width: 15%;
        }

        .event_title {
            width: 30%;
        }

        .event_period {
            width: 40%;
        }

        .btn_container {
            width: 15%;
        }
    }



}


.page--review--manager--container {
    /* 관리자 리뷰페이지 */



}


.page--user--manager--container {
    /* 관리자 사용자페이지 */



}